body{
  background-color: #fdf6f6;
  font-family: "Comic Sans MS", sans-serif;
}

.top{
  border: 2px solid black;
  font-size: xx-large;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}


/* BONSHOMMES */

.bonshommes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bonhomme{
  --size: 150px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  transition: transform 0.2s;
}

.bonhomme:hover{
  transform: scale(1.05);
}

.eye{
  position: relative;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pupil{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  transition: transform 0.1s;
}

/* Couleurs */
.red{ background-color: #ff7070; }
.yellow{ background-color: #ffed70; }
.blue{ background-color: #70a0ff; }
.green{ background-color: #70ff70; }

/* Forme */
.square{ border-radius: 0px; }
.circle{ border-radius: 100%; }
.triangle{
  border-radius: 0px;
  width: var(--size);
  height: calc(var(--size) * 0.87);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}