body{
  background-color: #fdf6f6;
  font-family: "Comic Sans MS", sans-serif;
}

.top{
  border: 2px solid black;
  font-size: xx-large;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}


/* BONSHOMMES */

.bonshommes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bonhomme{
  --size: 150px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  width: var(--size);
  height: var(--size);
  transition: transform 0.2s;
}

.bonhomme:hover{
  transform: scale(1.05);
}

.eye{
  position: relative;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pupil{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  transition: transform .2s, width .2s, height .2s;
}
.bonhomme:hover .pupil{
  width: 25px;
  height: 25px;
}

.mouth{
  position: absolute;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  width: 30px;
  height: 15px;
  background-color: #ff4f4fa8;
  transform: translateY(40px);
  transition: border-radius .2s, width .2s, height .2s;
}
.bonhomme:hover .mouth{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 50px;
  height: 25px;
}

/* Couleurs */
.red{ background-color: #ff7070; }
.yellow{ background-color: #ffed70; }
.blue{ background-color: #70a0ff; }
.green{ background-color: #70ff70; }

/* Forme */
.circle{
  border-radius: 50%;
}
.rectangle{
  width: calc(var(--size) * 1.5);
}
.capsule{
  height: calc(var(--size) * 1.2);
  width: calc(var(--size) / 1.2);
  border-radius: 100px;
}
.capsule>.eye{
  transform: translateY(calc(var(--size) / -5));
}